<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>General Information

We collect the e-mail addresses of those who communicate with us via e-mail, aggregate information on what pages consumers access or visit, and information volunteered by the consumer (such as survey information and/or site registrations). The information we collect is used to improve the content of our software and the quality of our service, and is not shared with or sold to other organizations for commercial purposes, except to provide products or services you’ve requested, when we have your permission, or under the following circumstances:

It is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Terms of Service, or as otherwise required by law.

We transfer information about you if thoughtbot, inc. or Tropos is acquired by or merged with another company. In this event, thoughtbot, inc. will notify you before information about you is transferred and becomes subject to a different privacy policy.

Information Gathering and Usage

When you download Tropos we ask for your location. We also track your device identifier, which is unique to your device within the context of the Tropos application in the Apple App Store.

thoughtbot, inc. uses collected information for the following general purposes: products and services provision, services improvement, and research.

Data Storage

thoughtbot, inc. uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run Tropos. Although thoughtbot, inc. owns the code, databases, and all rights to the Tropos application, you retain all rights to your data.

Disclosure

thoughtbot, inc. may disclose personally identifiable information under special circumstances, such as to comply with subpoenas or when your actions violate the Terms of Service.

Changes

thoughtbot, inc. may periodically update this policy. We will notify you about significant changes in the way we treat personal information by placing a prominent notice on our site.

Questions

Any questions about this Privacy Policy should be addressed to tropos@thoughtbot.com</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
	</array>
	<key>StringTable</key>
	<string>PrivacyPolicy</string>
	<key>Title</key>
	<string>Privacy Policy</string>
</dict>
</plist>
